<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC_DiscExchange:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVC_DiscExchange.war">
      <element id="artifact" artifact-name="SpringMVC_DiscExchange:war exploded" />
    </root>
  </artifact>
</component>